<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pagination</h1>
    {% for i in page_obj %}
    <h1>{{i.title}}</h1>
    <p>{{i.disc}}</p>
    <p>{{i.publish_date}}</p>
    {% endfor %}

    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}
    <span>{{page_obj.number}}</span>
    {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}
</body>
</html>